header(class='flex bg-blue-600 m-0 p-7 drop-shadow-lg')
    a(class='mr-2 hover:scale-125 flex align-center' href="https://github.com/ascodeasice/facebook-clone")
    img(class='w-12 ' src="/images/github.svg")
    a(href="/" class='text-5xl font-bold text-white hover:scale-105') Facebook Clone