extends layout

block content
  form(action="/logout/facebook" method="POST")
    input(type="hidden" name="accessToken" value=user.accessToken)
    button(type="submit" class='bg-blue-600 text-zinc-50 px-3 py-2 rounded hover:bg-blue-800 font-bold') Log out
