include ./bufferImage.pug 
mixin profilePicture(user,classes)
    if user.profilePicture 
        +bufferImage(classes,user.profilePicture)
    else 
        img(src=user.profilePictureURL?user.profilePictureURL:'/images/unknownUser.svg' class=classes alt='profile picture of '+user.username)